<% include ../../partials/header %>
<div class="wrapper">
<% include ../../partials/sidebar %>
<style>
    .CodeMirror{
        min-height: 100px!important;
    }
</style>
<div class="main-panel">
		<div class="panel-hedding">
            <!-- <div class="mb-4">
                <a href="/admin/member/add"><i class="fa fa-arrow-left mr-2"></i>Groups</a>
            </div> -->
            <div class="row mb-4">
                <div class="col-md-6">
                    <h1>Groups</h1>
                </div>
            </div>
        </div>
		<div class="tab tab-outline">
			<ul class="nav" id="myTab-02" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="home-tab-02" data-toggle="tab" href="#home-02" role="tab" aria-controls="home" aria-selected="true">List</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="profile-tab-02" data-toggle="tab" href="#profile-02" role="tab" aria-controls="profile" aria-selected="false">Add</a>
				</li>
		   </ul>
		   <div class="tab-content" id="myTabContent-02">
			 <div class="tab-pane fade show active" id="home-02" role="tabpanel" aria-labelledby="home-tab-02">
				<div class="card">
					<div class="card-body">
						<div class="search_table">
							<input type="text" class="form-control" placeholder="search group">
							<i class="fa fa-search"></i>
						</div>
						<div class="table-responsive">
							<table class="table table-centered table-hover mb-0 table-striped" id="group_table">
								<thead>
									<tr>
										<th scope="col">Name </th>
										<th scope="col">Leader(s)</th>
										<th scope="col">Count</th>
										<th scope="col">Edit</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="profile-02" role="tabpanel" aria-labelledby="profile-tab-02">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="groupname" class="mb-3">Name</label>
									<input type="text" class="form-control" id="groupname">
								</div>
								<div class="form-group">
									<label for="groupleader">Choose Leader(s)</label>
									<input type="text" class="form-control" id="groupleader">
								</div>
								<div class="form-row">
									<div class="form-group col-6">
										<label for="meetingday">Meeting Day</label>
										<select class="form-control" id="meetingday"> 
											<option value="Monday">Monday</option>
											<option value="Tuesday">Tuesday</option>
										</select>
									</div>
									<div class="form-group col-6">
										<label for="meetingtime">Time</label>
										<input type="text" class="form-control" name="meetingtime" id="meetingtime">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="groupdesc">Description</label>
									<textarea id="editor-demo1" name="groupdesc" cols="3" rows="3"></textarea>
								</div>
							</div>
						</div>
						<div>
							<button type="submit" class="btn btn-primary">Add</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<% include ../../partials/footer %>
<!-- data table -->
<script type="text/javascript" src="/js/datatables/datatables.min.js"></script>
<script type="text/javascript" src="/js/datatables/dataTables.buttons.min.js"></script>
<!-- data picker -->
<script type="text/javascript" src="/js/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<!-- jquery validation -->
<script type="text/javascript" src="/js/jquery-validation/jquery.validate.min.js"></script>
<!-- wysiwyg editor -->
<script src="/js/simplemde/simplemde.min.js"></script>
<script src="/js/simplemde/simplemde.js"></script>
<!-- custom -->
<script type="text/javascript" src="/js/view_script/department.js"></script>