<% include ../../partials/header %>
<div class="wrapper">
<% include ../../partials/sidebar %>
<div class="main-panel">
		<div class="panel-hedding">
			<div class="row mb-4">
				<div class="col-md-6">
					<h1><%= pageTitle %></h1>
				</div>
				<div class="col-md-6">
					<div class="add-new">
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">
							<i class="feather icon-plus"></i>
							Create Group
						</button>
					</div>
				</div>
			</div>
		</div>	
		<div class="card">
			<div class="card-body">
				<div class="table-responsive mt-lg-5">
					<table class="table table-striped table-centered table-hover mb-0" id="group_table">
						<thead>
							<tr>
								<th scope="col">Department</th>
								<th scope="col">Department Head</th>
								<th scope="col">Asst Head</th>
								<th scope="col">Total Member</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
    <!-- group model -->
	<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="group_model">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="model_title">Add members to department</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
				<!-- form  -->
				<div id="wizard" class="wizard">
					<div class="wizard-nav">
						<ul class="nav nav-fill">
							<li class="nav-item">
								<a class="nav-link" id="home" href="#tab1" data-toggle="tab"><span class="number"><i class="la la-sitemap"></i></span>Department</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#tab2" data-toggle="tab"><span class="number"><i class="la la-users"></i></span>Add Members</a>
							</li>
						</ul>
					</div>
					<form id="dept_form">
					<div class="tab-content p-lg-4">
							<div class="tab-pane" id="tab1">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label>Select Department<span class="text-danger">*</span></label>
											<select class="dept-name required" name="dept_name" id="dept_name">
												<option></option>
											</select>
											<p class="error"></p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="dept_head">Departnemt Head<span class="text-danger">*</span></label>
											<select class="dept-head required" name="dept_head" id="dept_head"></select>
											<p class="error"></p>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label name="asst_head">Asst Departnemt Head<span class="text-danger">*</span></label>
											<select class="dept-asst-head required" name="asst_head" id="asst_head"></select>
											<p class="error"></p>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="tab2">
								<select multiple="multiple" size="10" name="members" id="memberlist"></select>
							</div>
							<hr/>
							<div class="pager wizard text-right">
								<button type='button' class='btn btn-primary btn-sm button-previous'><i class="la la-angle-double-left"></i>Previous</button>
								<button type='button' class='btn btn-primary btn-sm button-next'>Next<i class="la la-angle-double-right pl-sm-4 pr-0"></i></button>
								<button type='button' class='btn btn-primary btn-sm button-finish pull-sm-right d-none'>
									Save
									<i class="la la-save pl-sm-2"></i>
									<span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true" ></span>
								</button>
							</div>
						</div>
					</form>
				</div><!-- form end -->
			</div>
		  </div>
		</div>
	</div>
    <!-- update group model -->
	<!-- <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="updata_group_model">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="model_title">*</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
				<div id="wizard" class="wizard">
					<div class="wizard-nav">
						<ul class="nav nav-fill">
							<li class="nav-item">
								<a class="nav-link" id="home" href="#tab1" data-toggle="tab"><span class="number"><i class="la la-sitemap"></i></span>Department</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#tab2" data-toggle="tab"><span class="number"><i class="la la-users"></i></span>Add Members</a>
							</li>
						</ul>
					</div>
					<form id="dept_form">
					<div class="tab-content p-lg-4">
							<div class="tab-pane" id="tab1">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label>Select Department<span class="text-danger">*</span></label>
											<select class="dept-name required" name="dept_name" id="dept_name">
												<option></option>
											</select>
											<p class="error"></p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="dept_head">Departnemt Head<span class="text-danger">*</span></label>
											<select class=required" name="dept_head" id="dept_head"></select>
											<p class="error"></p>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label name="asst_head">Asst Departnemt Head<span class="text-danger">*</span></label>
											<select class="dept-asst-head required" name="asst_head" id="asst_head"></select>
											<p class="error"></p>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="tab2">
								<select multiple="multiple" size="10" name="members" id="memberlist"></select>
							</div>
							<hr/>
							<div class="pager wizard text-right">
								<button type='button' class='btn btn-primary btn-sm button-previous'><i class="la la-angle-double-left"></i>Previous</button>
								<button type='button' class='btn btn-primary btn-sm button-next'>Next<i class="la la-angle-double-right pl-sm-4 pr-0"></i></button>
								<button type='button' class='btn btn-primary btn-sm button-finish pull-sm-right d-none'>
									Save
									<i class="la la-save pl-sm-2"></i>
									<span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true" ></span>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		  </div>
		</div>
	</div> -->
<% include ../../partials/footer %>
<!-- wizard -->
<script type="text/javascript" src="/js/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
<!-- data table -->
<script type="text/javascript" src="/js/datatables/datatables.min.js"></script>
<script type="text/javascript" src="/js/datatables/dataTables.buttons.min.js"></script>
<!-- datapicker -->
<script type="text/javascript" src="/js/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<!-- bootstrap-duallistbox -->
<script type="text/javascript" src="/js/bootstrap-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
<!-- select2 -->
<script type="text/javascript" src="/js/select2/select2.min.js"></script>
<!-- jquery validation -->
<script type="text/javascript" src="/js/jquery-validation/jquery.validate.min.js"></script>
<!-- customer -->
<script type="text/javascript" src="/js/view_script/group_members.js"></script>