<!-- **********  main-panel  ********** -->
<% include ../partials/header %>
<div class="wrapper">
	<% include ../partials/sidebar %>
<div class="main-panel">
	<div class="panel-hedding">
		<div class="row">
			<div class="col-md-6 col-xl-6 col-xxl-3">
				<div class="card">
					<div class="card-body">
						<div class="d-flex align-items-end">
								<div class="mr-2">
									<h3 class="mb-2">50</h3>
									<span>Registered Members</span>
									<p class="mb-0 mt-3"><i class="feather icon-trending-up pr-2 text-primary"></i> 5% higher than last week</p>
								</div>
								<button type="button" class="btn btn-lg btn-overlay-primary btn-icon ml-auto"> <i class="feather icon-user-check"></i> </button>
							</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xl-6 col-xxl-3">
				<div class="card">
					<div class="card-body">
						<div class="d-flex align-items-end">
								<div class="mr-2">
									<h3 class="mb-2">10</h3>
									<span>Baptized</span>
									<p class="mb-0 mt-3"><i class="feather icon-trending-up pr-2 text-success"></i>Total Baptized Member</p>
								</div>
								<button type="button" class="btn btn-lg btn-overlay-success btn-icon ml-auto"> <i class="fa fa-tint"></i></button>
							</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xl-6 col-xxl-3">
				<div class="card">
					<div class="card-body">
						<div class="d-flex align-items-end">
								<div class="mr-2">
									<h3 class="mb-2">30</h3>
									<span>Male</span>
									<p class="mb-0 mt-3"><i class="feather icon-trending-up pr-2 text-info"></i>Total Male </p>
								</div>
								<button type="button" class="btn btn-lg btn-overlay-info btn-icon ml-auto"> <i class="fa fa-male"></i> </button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xl-6 col-xxl-3">
				<div class="card">
					<div class="card-body">
						<div class="d-flex align-items-end">
								<div class="mr-2">
									<h3 class="mb-2">20</h3>
									<span>Female</span>
									<p class="mb-0 mt-3"><i class="feather icon-trending-up pr-2 text-danger"></i>Total Female</p>
								</div>
								<button type="button" class="btn btn-lg btn-overlay-info btn-icon ml-auto"> <i class="fa fa-female"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-5 col-xxl-3">
				<div class="card">
					<div class="card-body">
						<div class="d-flex align-items-end">
								<div class="mr-2">
									<h3 class="mb-2">4</h3>
									<span>Departments</span>
									<p class="mb-0 mt-3"><i class="feather icon-trending-up pr-2 text-danger"></i>Total department</p>
								</div>
								<button type="button" class="btn btn-lg btn-overlay-info btn-icon ml-auto"> <i class="fa fa-sitemap"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-9">
				 <div class="card">
					<div class="card-title">
						<div class="card-title-left">
							<h4 class="card-title-text">Upcomming Events</h4>
						</div>
					</div>
				  <div class="card-body">
					  <div class="table-responsive">
						   <table class="table table-centered table-hover mb-1">
							  <thead>
							    <tr>
							      <th scope="col">Event </th>
							      <th scope="col">Date Start</th>
							      <th scope="col">Date Ends</th>
							      <th scope="col">Description</th>
							      <th scope="col">Action</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr>
							      <td>Women Fellowship</td>	
							      <td>4/6/2021</td>
							      <td>4/6/2021</td>
							      <td>women meet for Fellowship</td>
							      <td><a class="btn btn-overlay-primary text-primary btn-icon btn-sm mr-2 mb-1" href="#"><i class="la la-edit"></i> </a><a class="btn btn-overlay-danger text-danger btn-icon btn-sm mb-1" href="#"><i class="fa fa-trash-o"></i> </a></td>
							    </tr>
							    <tr>
									<td>Men Fellowship</td>	
									<td>4/6/2021</td>
									<td>4/6/2021</td>
									<td>Men meet for Fellowship</td>
									<td><a class="btn btn-overlay-primary text-primary btn-icon btn-sm mr-2 mb-1" href="#"><i class="la la-edit"></i> </a><a class="btn btn-overlay-danger text-danger btn-icon btn-sm mb-1" href="#"><i class="fa fa-trash-o"></i> </a></td>
								  </tr>
							  </tbody>
							</table>
					  </div>
				  </div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="card">
					<div class="card-title">
						<div class="card-title-left">
							<h4 class="card-title-text">Latest activity</h4>
						</div>
					</div>
				  <div class="card-body">
				  	<div class="activity">
				      <div class="activity-item">
						    <div class="date">Sep 25</div>
						    <div class="text">Responded to need <a href="single-need.html">“Volunteer opportunity”</a></div>
						  </div>
						  <div class="activity-item">
						    <div class="date">Sep 24</div>
						    <div class="text">Added an interest “Volunteer Activities”</div>
						  </div>
						  <div class="activity-item">
						    <div class="date">Sep 23</div>
						    <div class="text">Joined the group <a href="single-group.html">“Boardsmanship Forum”</a></div>
						  </div>
						  <div class="activity-item">
						    <div class="date">Sep 21</div>
						    <div class="text">Responded to need <a href="single-need.html">“In-Kind Opportunity”</a></div>
						  </div>
						  <div class="activity-item">
						    <div class="date">Sep 18</div>
						    <div class="text">Created need <a href="single-need.html">“Volunteer Opportunity”</a></div>
						  </div>
						  <div class="activity-item">
						    <div class="date">Sep 24</div>
						    <div class="text">Added an interest “Volunteer Activities”</div>
						  </div>
						  <div class="activity-item">
						    <div class="date">Sep 17</div>
						    <div class="text">Attending the event <a href="single-event.html">“Some New Event”</a></div>
						  </div>
					 </div>
				  </div>
				</div>
			</div>
		</div>
		
	</div>
</div>
</div>
<% include ../partials/footer %>