<div class="error error-01 h-100">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1>404</h1>
                <span>Something's missing.</span>
                <p>Opss! sorry page not found.</p>
                <a class="btn btn-dark" href="/"> <i class="zmdi zmdi-home"></i> Back to home</a>
            </div>
        </div>
    </div>
</div>